.landing-img {
    background-image: url('../img/dining-table.jpg');

    .search-panel {
        margin: 200px auto;
        width: 500px;

        .search-bar {
            height: 40px;
            width: 400px;
            border-radius: 5px 0 0 5px;
            border: none;
            padding: 10px;
        }

        .search-submit {
            height: 40px;
            width: 70px;
            border-radius: 0 5px 5px 0;
            border: none;
        }
    }
}
