body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    img {
        height: 95%;
        display: inline-block;
        border-radius: 6px;
    }

    .scroll-toggle {
        height: 22px;
        border: 1px solid dimgrey;
        border-radius: 5px;
        float: right;
        text-align: center;
        padding: 5px;
        background-color: dimgrey;
        color: white;
        cursor: pointer;
        margin: 420px 20px 0 0;
    }

    .search-panel {
        margin: 30px auto;
        width: 100%;
        height: 400px;
        background-image: url(../img/restaurant.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;

        .search-container {
            height: 200px;
            width: 700px;
            background-color: white;
            border-radius: 5px;
            position: absolute;
            bottom: -40px;
            left: 20px;
            box-shadow: 0 1px 0 rgba(0,0,0,.1);

            ::-webkit-input-placeholder { color:#ccc; font-size: 16px;}
            ::-moz-placeholder { color:#ccc; font-size: 16px; } /* firefox 19+ */
            input:-moz-placeholder { color:#ccc; font-size: 16px; }

            .search-text {
                margin: 30px 0 0 20px;
                font-size: 32px;
            }

            .search-bar {
                height: 55px;
                width: 550px;
                border-radius: 5px 0 0 5px;
                border: 1px solid #ddd;
                padding: 10px;
                margin: 35px 0 0 20px;
                font-size: 14px;
            }

            .search-submit {
                height: 54px;
                width: 100px;
                border-radius: 0 5px 5px 0;
                border: none;
                font-size: 15px;
                color: white;
                background-color: #da3743;
            }
        }
    }

    .results-content {
        width: 65%;
        margin: 90px;

        .page-number-list {
            float: right;

            .page-number {
                cursor: pointer;
                padding: 3px;
                font-size: 18px;
            }

            .selected-page {
                cursor: pointer;
                padding: 3px;
                font-weight: bold;
                font-size: 19px;
            }
        }

        .restaurant-list {

            .card {
                width: 100%;
                height: 155px;
                margin: 20px auto;
                border-bottom: 1px solid #ddd;

                .info {
                    vertical-align: top;
                    height: 100%;
                    display: inline-block;

                    .name {
                        font-size: 20px;
                        padding: 10px;

                    }

                    .price {
                        padding-left: 10px;
                        font-size: 15px;
                        font-weight: bold;

                        .highlighted {
                            color: #333;
                        }

                        .non-highlighted {
                            color: #ddd;
                        }
                    }

                    .reserve-link {
                        margin: 20px 0 0 10px;
                        border: 1px solid #da3743;
                        background-color: #da3743;
                        width: 100px;
                        height: 35px;
                        border-radius: 6px;
                        text-align: center;

                        .reserve {
                            text-decoration: none;
                            color: #fff;
                            line-height: 35px;
                        }
                    }

                    .address {
                        margin: 10px;
                        color: #666;
                    }
                }
            }
        }
    }
}
